$font-family-sans-serif: "Inconsolata", sans-serif;
$brand-color: #2c3e50;
$brand-danger: #e74c3c;
$brand-warning: #e67e22;
$brand-dark-color: darken($brand-color, 2);
$task-background-color: darken($brand-color, 3);

@import 'bootstrap';

html, body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: stretch;
  background: $brand-color;
  color: $gray-lighter;
}

.app-content {
  flex: 1;
  margin: {
    left: 5rem;
    right: 5rem;
  }
}

.timeout {
  font-size: 3*$font-size-h2;
  text-align: center;
  padding: 1rem;
  color: darken($gray-lighter, 15);
}

.tasks {
  padding-top: 3rem;
  border-top: 1px solid $brand-dark-color;
}

.task {
  display: flex;
  font-size: $font-size-h3;
  text-transform: uppercase;
  transition: color 0.5s, background-color 0.5s;
  padding: 1rem;
  cursor: pointer;
  margin-bottom: 1rem;

  &:hover {
    background: $task-background-color;
    border-radius: 10px;
  }

  .description {
    transition: color 0.5s;
    flex: 1;

    &:hover {
      color: $brand-warning;
    }
  }

  .runs {
    display: inline-block;
    font-weight: 300;
    padding-left: 0.5rem;
    color: darken($gray-lighter, 20);
    transition: color 0.5s;

    &:hover {
      color: $brand-danger;
    }

    &:before {
      content: "(";
      margin-left: 0.5rem;
      color: $gray-light;
    }

    &:after {
      content: ")";
      color: $gray-light;
    }
  }

  &.active {
    .description {
      font-weight: 700;
      color: $brand-danger;
    }
  }
}
