$font-family-sans-serif: "Fira Code", sans-serif;
$brand-color: #2c3e50;
$brand-danger: #e74c3c;
$brand-warning: #e67e22;
$brand-success: #27ae60;
$brand-dark-color: darken($brand-color, 2);
$task-background-color: darken($brand-color, 1);

@import 'bootstrap';

html, body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: stretch;
  background: $brand-color;
  color: $gray-lighter;
}

.app-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.btn-add {
  position: absolute;
  right: 5rem;
  top: 3.3rem;
  font-size: $font-size-h3;
  text-transform: uppercase;
  color: $gray-lighter;
  opacity: 0.5;
  transition: color 0.5s, opacity 0.5s;

  &:hover {
    color: $brand-success;
    opacity: 1;
    text-decoration: none;
  }
}

.main-content {
  flex: 1;
}

.timeout {
  font-size: 2*$font-size-h2;
  text-align: center;
  padding: 1rem;
  color: darken($gray-lighter, 15);
}

.active-task, .tasks {
  margin: {
    left: 5rem;
    right: 5rem;
  }
}

.active-task {
  .task {
    background: darken($task-background-color, 3);
  }
}

.task {
  display: flex;
  font-size: $font-size-h4;
  transition: color 0.5s, background-color 0.5s;
  background: $task-background-color;
  border-radius: 10px;
  margin: {
    top: 1rem;
    bottom: 1rem;
  }

  &:hover {
    background: darken($task-background-color, 3);

    .task-btn {
      opacity: 1;
    }

    .description {
      .description-elapsed-time, .description-runs {
        opacity: 1;
      }
    }
  }

  .description {
    flex: 1;
    padding: 1rem;

    .description-label {
      display: inline-block;
      transition: color 0.5s;
      cursor: pointer;
      text-transform: uppercase;
    }

    .description-elapsed-time {
      display: inline-block;
      margin-left: 1.5rem;
      color: $gray-light;
      transition: opacity 0.5s;
      opacity: 0;
    }

    .description-runs {
      $color: $gray-light;

      display: inline-block;
      margin-left: 1rem;
      color: $color;
      transition: opacity 0.5s;
      opacity: 0;
      cursor: pointer;

      &:before {
        content: "(";
        color: transparentize($color, 0.5);
      }

      &:after {
        content: ")";
        color: transparentize($color, 0.5);
      }

      &:hover {
        color: transparent;

        &:before {
          content: "reset";
          color: $brand-warning;
        }

        &:after {
          color: transparent;
        }
      }
    }
  }

  .task-btn {
    display: inline-block;
    padding: 1rem;
    color: transparentize($gray-lighter, 0.9);
    transition: color 0.5s, opacity 0.5s;
    text-decoration: none;
    opacity: 0;
    cursor: pointer;

    &:hover {
      color: $brand-danger;
    }
  }

  &.active {
    .description-label, .description-label:hover {
      font-weight: 700;
      color: $brand-success;
    }
  }
}
